<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {%  load static %}



    <link rel="stylesheet" type="text/css" href="{% static 'iano/bootstrap/css/bootstrap.min.css'  %}">
    <!--css-->

    <link rel="stylesheet" type="text/css" href="{% static 'iano/iano.css'  %}">

    <!--jquery and js-->

    <script type="text/javascript" src="{% static 'iano/iano.js'  %}"></script>

      <script type="text/javascript" src="{% static 'iano/bootstrap/js/bootstrap.min.js'  %}"></script>

      <!--fonts-->


      <link rel="stylesheet" type="text/css" href="{% static 'iano/fontawesome-free/css/fontawesome.min.css'  %}">  

      <link rel="stylesheet" type="text/css" href="{% static 'iano/font-awesome/css/fontawesome.min.css'  %}">


      <script type="text/javascript" src="{% static 'iano/font-awesome/js/fontawesome.min.js'  %}"></script>


  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<head>

  <title>Iano </title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/ian.jpg'  %}">
</head>


<body>

<a href="{% url 'iano-home' %}" class="fa  fa-long-arrow-left fa-3x">back </a>


<h2>thanks for contacting us</h2>



</body>
</html>