<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {%  load static %}



    <link rel="stylesheet" type="text/css" href="{% static 'iano/bootstrap/css/bootstrap.min.css'  %}">
    <!--css-->

    <link rel="stylesheet" type="text/css" href="{% static 'iano/iano.css'  %}">

    <!--jquery and js-->

    <script type="text/javascript" src="{% static 'iano/iano.js'  %}"></script>

      <script type="text/javascript" src="{% static 'iano/bootstrap/js/bootstrap.min.js'  %}"></script>

      <!--fonts-->


      <link rel="stylesheet" type="text/css" href="{% static 'iano/fontawesome-free/css/fontawesome.min.css'  %}">  

      <link rel="stylesheet" type="text/css" href="{% static 'iano/font-awesome/css/fontawesome.min.css'  %}">


      <script type="text/javascript" src="{% static 'iano/font-awesome/js/fontawesome.min.js'  %}"></script>


  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<head>

  <title>Iano </title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/ian.jpg'  %}">
</head>


<body>

  <!--navigation-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light">


 

    <img src="{% static 'iano/images/ian.jpg'  %}" width="55" height="55" class="d-inline-block align-top" alt="logo" loading="lazy" id="image">

    <h3 >Iano</h3>
  </a>

   <div>
    <h5 class="menu-text">MENU</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


    <span class="navbar-toggler-icon"></span>

  </button>


</div>
  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mx-auto">


      <li class="nav-item active">

        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#About">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#Skills">Skills</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="#Work">Work</a>
      </li>



       <li class="nav-item">
        <a class="nav-link" href="#Contact">Contact</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      
       
     <a class="btn btn-outline-dark btn-sm-1"  href="#foot">SUPPORT</a>
      

    </form>

    

  </div>

</nav>



<hr class="my-4">



<!--banner-->


<div class="container1" style="background: url({% static 'iano/images/pic_2.jpeg'  %});">


 <div class="container2">

  <h1 class="display-4"> Hello </h1>



     <h1 class="display-5" id="welcome">Welcome to Iano </h1>
  
   

    <h1 class="display-7">Your Plan for the <span> <h1 style="color: black;">internet</h1></span></h1>




  

</div>
<!--social media-->



<div class="container-fluid-1">

  <center>



<a href="https://wa.link/hg34zn" class="fa fa-whatsapp  fa-1.5x "></a>


</center>


</div>

</div>


<hr class="my-4">





<!--about me-->



<h2 class="text-center" id="About" >ABOUT ME</h2>



   <div class="container3" >


    <center>
     


     <div class="card" style="width: 30rem;">


  <center><img src="{% static 'images/iano.jpg'  %}" class="card-img-top" alt="ian" style="border-radius: 50%; height: 190px; width: 180px;"></center>



  <div class="card-body">
    
    <p class="card-text" >My name is Ian Onyango , i am a tech enthusiast  with two years of experience in the field of software industry major in web development ,   i use different <span>  <a class="btn btn-outline-blue btn-sm-1"  href="#Skills">skills  <i class="fa fa-angle-double-down fa-1x "  style="font-size: 40px; color: blue;"></i></a></span> to produce amazing <span> <a class="btn btn-outline-blue btn-sm-1"  href="#Work">work <i class="fa fa-angle-double-down fa-1x "  style="font-size: 40px; color: black;"></i> </a></p></span>


    <a href="https://wa.link/hg34zn" class="fa fa-whatsapp fa-2x "></a>  
  </div>
</div>

</center>



   </div>


   <hr class="my-4">



   <!--what i do-->


   


<div class="container-1">
  <h2 class="text-center">more about me</h2>

<div class="row">

  <div class="card-body">

    <div class="col">

      <center>

        <i class="fa fa-search fa-4x "  style="font-size: 80px; color: blue;"><h1>research</h1></i>




      <p>i interact with different individuals and resources to make a comprehensive documentation and plan of project at hand </p>
      </center>
    </div>

  </div>

  <div class="card-body">
   


    <div class="col">
      
   <center><i class="fa fa-users fa-4x "  style="font-size: 80px; color: firebrick;"><h1>teamwork</h1></i>

  <p>i love building networks inorder to learn and teach others </p>

     
      </center>

    </div>

  </div>

  <div class="card-body">

    <div class="col">
      <center><i class="fa fa-share fa-4x "  style="font-size: 80px; color: black;"><h1>sharing</h1></i>

      <p> i love contributing more on open source projects <a href="#" class="fa fa-github"></a></p>
      
      </center>


    </div>

  </div>


  </div>

</div>


<hr class="my-4">



<!--skills-->

<div class="container-5" id="Skills">


<div class="jumbotron">


<h2 class="skill">Skills</h2>





<ul>

  <li>HTML </li>
  <li>CSS</li>
  <li>BOOTSTRAP</li>
  <li>PYTHON</li>
  <li>DJANGO</li>
  <li>REST API</li>
  <li>MYSQL and POSTGRESQL</li>



</ul>


<h4> --> I am Currently learning Vue.JS</h4>



</div>
</div>



<hr class="my-4">



<!--work-->

{%  for data in post %}


<div id="Work">

<center><h2>My Work</h2></center>


<div class="container-6">




<h2 style="font-weight: bold;">{{data.Title}}</h2>

<p>{{ data.Content}}</p>
<a class="btn btn-outline-info" href="{{ data.Link}}" role="button">See More</a>

<a href="https://github.com/ian-yitzhak" class="fa fa-github"></a>










</div>

</div>

{% endfor %}



<hr class="my-4">




<!--testimonials-->



<center><h2 class="testimony">Testimonials</h2></center>


<div class="container-10">


<div class="d-flex flex-column bd-highlight mb-3">


  <div class="p-2 bd-highlight">


<div class="container-11"><i class="fa fa-user fa-2x "  style="font-size: 50px; color: black;"><h1>user</h1> </i>
<h5 style="color: red">Mackrine - Teacher and Writter </h5>

<p>its a pleasure working with Ian and love the way he organises his work and the different skills he uses to solve different problems </p>

<center>

         <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
         <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
          <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
           <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
            <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>


          </center>





</div>

    

  </div>

<div class="container-11">



  <div class="p-2 bd-highlight"><i class="fa fa-user fa-2x "  style="font-size: 50px; color: black;"><h1>user</h1></i>

    <h5 style="color: red">Collins Omondi - Zetech University </h5>

    <p>I had passion in Programming,Ian  introduced me to Proggraming and mentored me through the journey and it has been wonderful working with him</p>
       
<center>
        <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
         <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
          <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
           <i class="fa fa-star fa-4x "  style="font-size: 15px; color: yellow;"></i>
            <i class="fa fa-star-half-empty fa-4x "  style="font-size: 15px; color: yellow;"></i>


          </center>




  </div>

</div>
</div>

</div>








<hr class="my-4">



<!--contact-->





<div class="container-7" id="Contact">

  <center><h2 class="contact">Contact</h2></center>




<form method="post">

  {%  csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>

    
    <input name="name"  class="form-control" id="exampleFormControlInput1" placeholder="please enter your name" required="" >
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="please enter your email address" required="" >
  </div>

   <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input name="phone" class="form-control" id="exampleFormControlInput1" placeholder="please enter your Phone Number" required="" >
  </div>
  
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Subject</label>
    <textarea name="subject" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="please leave your message" ></textarea>
  </div>

  <center><input class="btn btn-primary" type="submit" value="Submit"></center>
</form>
</div>




</div>



<!--footer-->

<hr class="my-4">

<footer class="footer mt-auto py-3">
  <div class="container" id="foot" >


<!--phone-->





 <center>  <a href="0721906125" class="fa fa-phone fa-2x"></a>

 <u><h4>Call me on 0721906125</h4> </u>


 </center>



    <ul class="nav nav-pills nav-fill">
  

  
  <li class="nav-item">

   
    <a href="https://wa.link/hg34zn" class="fa fa-whatsapp"></a>
   



   



  </li>

</ul>
<ul class="nav nav-pills nav-fill">


  <li class="nav-item">


    <span class="text-muted">Copyright &copy; 2020</span>
    


  </li>


  
</ul>







   
   
  </div>
</footer>








</body>
</html>