*{

	padding: 0;
	margin: 0;
}


body{

	margin: 0;
	padding: 0;
}


.navbar-light{

	background: rgb(245 , 245 , 245);

}


.align-top{

	border-radius: 50%;
}
h3{

	color: darkred;
	font-size: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}



.menu-text{


	display: none;
}
.nav-item{


	padding-right:50px;
	font-family: Times New Roman Georgia;
	font-size: 20px;

}
.nav-item a{

	color: black;
}

.nav-item a:hover{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}


.container1{

background-image: url( {% static 'images/pic_2.jpeg'  %} );
background-repeat: no-repeat;
background-size: cover;



}

.jumbotron{

	margin-left: 0px;
}

.display-4{

	color: black;
	font-weight: bold;
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	word-spacing:+10px;
	


	
}
.display-5{

	color: red;
	font-family:  "Times New Roman", Times, serif;
	font-style: oblique;
}

.display-7{


color: darkblue;
 font-family:Georgia, serif;
 font-weight: bold;
 position: relative;
  animation: move 5s;

}

@keyframes move {
    from {left: 0px;}
    to {left: 200px;}
}

.container2{

	padding-left: 60px;
	padding-top: 20px;




}


#welcome{



	color: red;

	-webkit-animation: mymove 5s ;


  
}

@keyframes mymove {
    from {color: red;}
    to {color: blue;}
}

.fa {
 

  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 

  
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  
  color: black;
}

.fa-twitter {
 
  color: black;
}

.fa-whatsapp {

  color: black;
}

.fa-linkedin {
  
  color: black;
}


.fa-instagram {
  
  color: black;
}

.text-center{

	text-decoration: underline;

	font-family:	“Times	New	Roman”,	Times,	serif;
	color: brown;
}

.container-fluid-1{

	margin: 0 auto;
}

.container3{




	padding-left: 70px;
}
.card-text{


	 font-family: Verdana, Helvetica, Arial, sans-serif 
}
p{

	font-family:Charcoal, sans-serif;
	
	font-size: 19px;
}

.contact{
font-family: Times New Roman Georgia; 
font-weight: bold; 

font-size: 35px;
}


.form-control{

font-size: 15px;

font-family: Sans-serif;

}

.testimony{


	font-family: "Comic Sans MS", cursive, sans-serif;

	text-decoration: underline;
}


.container-4{


	background: black;
}

.container-5{


	
	background: darkblue;
	background-size: cover;
	background-repeat: no-repeat;
   

}

.jumbotron{


	background-color:snow;

	width: 100%;
    border: 2px solid red;
    padding: 45px;
    
}

.fa-github{
	background: black;
    color: white;
    font-size: 100px;
    border-radius: 50%;
    




}
.skill{

	font: italic bold 40px Georgia, serif;



}
#Work{


	font-family: Serif;
}

.container-6{


	

	
    border: 4px solid lightblue;
    padding: 65px;
    margin: 85px;
	
}

.container-12{


	

	
    
    margin: 85px;
	
}


.container-7{


	

	
    border: 1px solid black;
    padding: 45px;
    margin: 45px;
	
}

.container-10{


	

	
    border: 2px solid lime;
    padding: 45px;
    margin: 75px;
    border-radius: 8%;
	border-style: ridge;
}

.container-11{


	

	
    border: 1px solid yellow;
    border-style: dotted;
    border-radius: 12px;

	
}


@media (max-width: 780px){


	.jumbotron{


	background-color: snow;

	
    border: 1px solid blue;
  
    
   
   
  
	
}
ul {

	padding-left: 20px;

	

}


	
	}

